/* Loads the custom 'Weather Icons' font from the resources folder */
@font-face {
    font-family: 'Weather Icons';
    src: url('../font/weathericons-regular-webfont.ttf');
}
/* Styles for the entire application window*/
.root{
    -fx-font-family: "Arial";
    -fx-padding: 10;
}
/* Dynamic backgrounds that change depending on the time of the day. */
.bg-day {
    -fx-background-color: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

.bg-night {
    -fx-background-color: linear-gradient(to bottom, #020111, #3a3a52);
}

/* Styles for the search bar (which is in its own .java file)
 * and the resulting dropdown list.
 */
.search-field {
    -fx-background-color: rgba(68, 68, 68, 0.3);
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-text-fill: #cfcfcf;
    -fx-padding: 10;
}

.search-button {
    -fx-background-color: rgba(166,72,30, 0.8);
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-text-fill: #cfcfcf;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.search-button:hover {
    -fx-background-color: #ea480c;
}

.search-button:focused {
    -fx-background-color: #ea480c;
    -fx-border-color: rgba(68, 68, 68, 0.7);
}



.search-results-list {
    -fx-background-color:rgba(68, 68, 68, 0.1); ;
    -fx-font-family: "Arial";
    -fx-padding: 10;
}

.search-result-label {
    -fx-font-size: 16;
    -fx-text-fill: #cfcfcf
}

.search-result-label-box{
    -fx-background-color: rgba(68, 68, 68, 0.2);
    -fx-padding: 5;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;

}

/* Hover and keyboard selection highlight for search items */
.search-result-label-box:hover, .highlighted-result{
    -fx-background-color: rgba(68, 68, 68, 0.4);
    -fx-border-color: rgba(166,72,30, 0.8);
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}



.label-location-name {
    -fx-font-size: 24;
    -fx-font-weight: 600;
    -fx-text-fill: #cfcfcf;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.2), 5, 0, 0, 0);
}

.label-location-time{
    -fx-font-size: 14;
    -fx-text-fill: #999999;
}

.label-wind-speed {
    -fx-font-size: 16;
    -fx-text-fill: #007aff;
}

/* Icons are styled the same way as text, as they are Unicode characters*/
.wind-icon {
    -fx-font-family: "Weather Icons";
    -fx-font-size: 20px;
    -fx-text-fill: #007aff;
}

/* Forecast View: Hourly / Daily
   Styles for the child components that show the
   scrolling hourly and daily forecasts.
 */
.forecast-view {
    -fx-background-color: rgba(68, 68, 68, 0.2);
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-padding: 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 20, 0, 0, 0);
}

.label-current-temperature {
    -fx-font-size: 32;
    -fx-font-weight: 700;
    -fx-text-fill: #cfcfcf;
}

.label-daily-high, .label-daily-low {
    -fx-font-size: 16;
    -fx-text-fill: #cfcfcf;
}

.hourly-forecast-view {
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-padding: 30;
}

.forecast-title-label {
    -fx-font-size: 24;
    -fx-font-weight: 600;
    -fx-text-fill: #cfcfcf;
}

.forecast-content-box {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-padding: 10;
}

.forecast-item-box {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-text-fill: #cfcfcf;
    -fx-padding: 10;

}

.forecast-item-date {
    -fx-font-size: 14;
    -fx-text-fill: #999999;
}
/* Changes default appearance of horizontal scroll bar*/
.forecast-scroll-pane {
    -fx-background-color: transparent;
    -fx-min-height: 160px;
}

.forecast-scroll-pane .viewport {
    -fx-background-color: transparent;
}

.forecast-item-icon-small {
    -fx-text-fill: #cfcfcf;
}

.forecast-item-icon-large {
    -fx-text-fill: #cfcfcf;
    -fx-font-size: 32;
    -fx-font-family: "Weather Icons";
}

.forecast-item-day {
    -fx-font-size: 16;
    -fx-font-weight: 600;
    -fx-text-fill: #cfcfcf;
}

.forecast-item-high {
    -fx-font-size: 16;
    -fx-text-fill: #cfcfcf;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 8px;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

.daily-forecast-view {
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-padding: 30;
}

.forecast-item-low {
    -fx-font-size: 16;
    -fx-text-fill: #999999;
}

/* TOGGLE BUTTON STYLING */
.view-toggle-box {
    -fx-padding: 10 0 0 0;
}

.view-toggle-button {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-text-fill: #cfcfcf;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-padding: 5 15 5 15;
    -fx-font-size: 20;
}

.view-toggle-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-cursor: hand;
}

.view-toggle-button:selected {
    -fx-background-color: rgba(166,72,30, 0.9);
    -fx-font-weight: bold;
}

#hourly-toggle-button {
    -fx-background-radius: 5 0 0 5;
    -fx-border-radius: 5 0 0 5;
    -fx-border-width: 2 0 2 2;
}

#daily-toggle-button {
    -fx-background-radius: 0 5 5 0;
    -fx-border-radius: 0 5 5 0;
    -fx-border-width: 2 2 2 0;
}

.icon-button {
    -fx-font-family: "Arial";
    -fx-font-size: 34px;
    -fx-text-fill: #999999;
    -fx-padding: 5px;
}

.icon-button:hover {
    -fx-text-fill: #cfcfcf;
    -fx-cursor: hand;
}

.drawer-menu {
    -fx-background-color: linear-gradient(to bottom, rgba(61, 61, 117, 0.2) 40%, transparent);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 20, 0, 0, 0);
}

.recent-search-item {
    -fx-padding: 10px;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 20, 0, 0, 0);
}

.recent-search-item:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
}

.recent-search-location {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #cfcfcf;
}

.recent-search-admin {
    -fx-font-size: 14px;
    -fx-text-fill: rgba(255,149,0, 0.9)
}

.recent-search-time {
    -fx-font-size: 12px;
    -fx-text-fill: #888888;
}

.settings-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #cfcfcf;
}

.weather-details-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 20, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-padding: 20px 30px;
    -fx-alignment: center;
}

.details-grid {
    -fx-alignment: center;
}

.details-label {
    -fx-font-size: 14px;
    -fx-text-fill: #999999;
    -fx-alignment: center-left;
}

.details-value {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #cfcfcf;
    -fx-alignment: center-right;
}

.settings-window{
    -fx-background-color: #333333;
    -fx-padding: 20px;
}