@font-face {
    font-family: 'Weather Icons';
    src: url('../font/weathericons-regular-webfont.ttf');
}
.root{
    -fx-background-color: #333333;
    -fx-font-family: "Arial";
    -fx-padding: 10;
}

.search-results-list {
    -fx-background-color: #444444;
    -fx-font-family: "Arial";
    -fx-padding: 10;
}

.search-result-label {
    -fx-font-size: 16;
    -fx-text-fill: #cfcfcf
}

.search-result-label-box{
    -fx-background-color: #444444;
    -fx-padding: 5;
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;

}

.search-result-label-box:hover{
    -fx-background-color: #555555;
    -fx-border-color: #cfcfcf;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

.highlighted-result {
    -fx-background-color: #555555;
}

.label-location-name {
    -fx-font-size: 24;
    -fx-font-weight: 600;
    -fx-text-fill: #cfcfcf;
}

.forecast-view {
    -fx-background-color: #444444;
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-padding: 30;
}

.label-current-temperature {
    -fx-font-size: 32;
    -fx-font-weight: 700;
    -fx-text-fill: #cfcfcf;
}

.label-daily-high, .label-daily-low {
    -fx-font-size: 16;
    -fx-text-fill: #cfcfcf;
}

.hourly-forecast-view {
    -fx-background-color: #444444;
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-padding: 30;
}

.forecast-title-label {
    -fx-font-size: 24;
    -fx-font-weight: 600;
    -fx-text-fill: #cfcfcf;
}

.forecast-content-box {
    -fx-background-color: #444444;
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-padding: 10;
}

.forecast-item-box {
    -fx-background-color: #444444;
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-text-fill: #cfcfcf;
    -fx-padding: 10;

}

.forecast-item-date {
    -fx-font-size: 14;
    -fx-text-fill: #999999;
}

.forecast-scroll-pane {
    -fx-background-color: #444444;
    -fx-min-height: 160px;
}

.forecast-scroll-pane .viewport {
    -fx-background-color: #444444;
}

.forecast-item-icon-small {
    -fx-text-fill: #cfcfcf;
}

.forecast-item-icon-large {
    -fx-text-fill: #cfcfcf;
    -fx-font-size: 32;
    -fx-font-family: "Weather Icons";
}

.forecast-item-day {
    -fx-font-size: 16;
    -fx-font-weight: 600;
    -fx-text-fill: #cfcfcf;
}

.forecast-item-high {
    -fx-font-size: 16;
    -fx-text-fill: #cfcfcf;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 8px;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #333333;
}

.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #555555;
}

.daily-forecast-view {
    -fx-background-color: #444444;
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-padding: 30;
}

.forecast-item-low {
    -fx-font-size: 16;
    -fx-text-fill: #999999;
}

/* TOGGLE BUTTON STYLING */
.view-toggle-box {
    -fx-padding: 10 0 0 0;
}

.view-toggle-button {
    -fx-background-color: #555555;
    -fx-text-fill: #cfcfcf;
    -fx-border-color: #444444;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-padding: 5 15 5 15;
    -fx-font-size: 20;
}

.view-toggle-button:hover {
    -fx-background-color: #666666;
}

.view-toggle-button:selected {
    -fx-background-color: #007aff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#hourly-toggle-button {
    -fx-background-radius: 5 0 0 5;
    -fx-border-radius: 5 0 0 5;
    -fx-border-width: 2 0 2 2;
}

#daily-toggle-button {
    -fx-background-radius: 0 5 5 0;
    -fx-border-radius: 0 5 5 0;
    -fx-border-width: 2 2 2 0;
}

.icon-button {
    -fx-font-family: "Arial";
    -fx-font-size: 24px;
    -fx-text-fill: #999999;
    -fx-padding: 5px;
}

.icon-button:hover {
    -fx-text-fill: #cfcfcf;
    -fx-cursor: hand;
}

.drawer-menu {
    -fx-background-color: #3a3a3a;
    -fx-border-color: #222222;
    -fx-border-width: 0 1 0 0;
}

.recent-search-item {
    -fx-padding: 10px;
    -fx-background-radius: 5;
}

.recent-search-item:hover {
    -fx-background-color: #555555;
    -fx-cursor: hand;
}

.recent-search-location {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #cfcfcf;
}

.recent-search-admin {
    -fx-font-size: 14px;
    -fx-text-fill: #999999;
}

.recent-search-time {
    -fx-font-size: 12px;
    -fx-text-fill: #888888;
}


